<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>SISTEMA EVERIS - CLIENTES</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
		<body class="card-body">
		<div class="card text-white bg-dark mb-3">
		  <div class="card-header">Datos del nuevo cliente</div>
		  <div class="card-body">
				<form th:action="@{/actAddCustomer}" th:object="${newCustomer}" method="POST">
					<div class="form-group">
			  			<label for="inpName">Nombre</label>
			  			<input type="text" class="form-control" id="inpTname" name="name" placeholder="Nombre del cliente.">
					</div>
					<div class="form-group">
						  <label for="inpFirstSurname">Primer Apellido</label>
						  <input type="text" class="form-control" id="inpTfirstSurname" name="firstSurname" placeholder="Primer Apellido.">
					</div>
					<div class="form-group">
						  <label for="inpSecondSurname">Segundo Apellido</label>
						  <input type="text" class="form-control" id="inpTsecondSurname" name="secondSurname" placeholder="Segundo Apellido.">
					</div>
					<div class="form-group">
						  <label for="inpDni">Dni</label>
						  <input type="text" class="form-control" id="inpTdni" name="dni" placeholder="DNI.">
					</div>
					<button type="submit" name="btnAddCustomer" class="btn btn-success">Añadir</button>
					<a class="btn btn-primary" href="index" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>